@tailwind base;
@tailwind components;
@tailwind utilities; 

@media (max-width: 768px) {
    .search-form {
      flex-direction: column;
    }
  
    .property-list {
      grid-template-columns: 1fr;
    }
  
    .favorites-list {
      display: block;
      width: 100%;
    }
  }
  